

/*  Header section ======*/
.wrap-container{
    background-image: url(images/headphones_hero_1.jpg);
    width: 1345px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
}

nav{
    width:  1000.39px;
    height: 31.18px;
    margin-top: 27.76px;
    margin-bottom: 200.61px;
    align-self: center;   

}

 nav ul{
float: right;

}

nav ul li{
display: inline-block;

}

nav ul li a{
    color: white;
    text-align: justify;
    margin: 0 15px;
    font-size: 16px;
}
.header-body-text{
    align-self: center;
    text-align: center;
    width: 637px;
    height: 313px;
    left: 382px;
    right: 372px;

    margin-top: auto;
    margin-bottom: auto;

}
.header-body-text  p, h1, h4 {
    color: white;
    word-spacing: normal;
}

.header-body-text button {
    margin: 20px;
    background-color: brown;
    width: 164px;
    min-height: 44px;
    
}

.header-body-text .link{

    color: whitesmoke;
    font-weight: bold;
}
