
/* contact us* ==========*/

.contactus{
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 373px;
    text-align: center;
    margin-left: 525px;
   
}

.contactus h2{
    font-size: 32px;
    line-height: 37.5px;
    font-weight: bold;
}

input{
    width: 70%;
    margin-left: 12%;
    padding: 16px 16px;
    border-radius: ;
    margin: 15px;
}

textarea{
    width: 70%;
    margin-left: 12%;
    padding: 16px 16px;
    border-radius: 10px;
    margin: 15px;
}
button{
    background-color: red;
    color: white;
    font-size: 20px;
    margin-bottom: 80px;
}
